<main>
<div class="jumbotron">
    <table class="table table-inverse">
        <thead>
            <h5 class="centre">Danh sách điểm danh</h5>
            <tr>
            <th>Mã số học viên</th>
            <th>Tên học viên</th>
            <th>Hệ đào tạo Id</th>
            <th>Ngành</th>
            <th>Hệ đào tạo</th>
            <th>Kết quả</th>
            <th>Hình thức</th>
            <th>Tình trạng</th>
            <th>Email</th>
            <th>Image name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                
            </tr>
        </tbody>
    </table>
    </div>
</main>